{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}


<nav class="flex-div">
    <div class="nav-left flex-div">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}" alt="" class="logo">
            <h1>NewTube</h1>
        </a>
    </div>
    <div class="nav-middle flex-div">
        <div class="search-box flex-div">
            <form action="{% url 'search-videos' %}" method = "POST" >
                {% csrf_token %}
                <input type = "search" placeholder="Search Videos" name = 'searched'>
                <img src="{% static 'images/search.png' %}" alt="">
                <button type = "submit">Search</button>
            </form>
        </div>
    </div>
    <div class="nav-right flex-div">
        {% if user.is_authenticated %}
            <div class="dropdown">
                {% if user.profile.profile_dp %}
                    <img src="{{ user.profile.profile_dp.url }}" alt="Profile-dp" class="user-icon">
                {% else %}
                    <img src="{%static 'images/default-user.png' %}" alt="" class="user-icon">
                {% endif %}
                <div class="profile-dropdown">
                    <a href="{% url 'user_profile' %}">My Profile</a>
                    <a href="{% url 'upload-new-video' %}">Upload Video</a>
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        {% else %}
            <a href="{% url 'register_user' %}"><button class="signup-btn">Signup </button></a>
            <a href="{% url 'login' %}"><button class="login-btn">Login</button></a>
        {% endif %} 

    </div>
</nav>

