{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/users_profile.css' %}">
    <title>Document</title>
</head>
<body>
    
    <a href="{% url 'home' %}" class="back-to-home">
        <img src="{% static 'images/back.png' %}" alt="back-arrow" class="back-arrow">
        <p>Back to Home</p>
    </a>

    <div class="container">
        {% for users in user %}
            {% if users.profile.profile_dp %}
                <img src="{{ users.profile.profile_dp.url }}" alt="User Profile Picture">
            {% endif %}
            <h1>{{users.username}}</h1>
            <h2></h2>{{users.first_name}}
            <h2></h2>{{users.last_name}}
            <h3></h3>{{users.email}} 
            <h3></h3>{{users.profile.bio}}
        {% endfor %}
    </div>
</body>
</html>



    
